*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav bar */
nav , .dropdown-menu{
    background-color: black !important;
}

.nav-item , .nav-link , .dropdown-item{
    color: white !important;
    font-size: 20px;
    font-weight: 400;
}
.nav-link:hover{
    color: rgb(0, 4, 240) !important;
}

.dropdown-item:hover{
    color: rgb(0, 4, 240) !important;
}
.navbar-toggler , .navbar-toggler-icon{
    background-color: white !important;
}


/*end navbar*/
body{
    background-image: url("../images/gray-painted-background_53876-94041.jpg");
}

.cont{
    background-color:rgba(255,255,255,.2);
   
    width: 500px;
    height: 300px;
    margin: 10px 10px 10px 380px;
    border-radius: 5px;
}











/* footer */


footer{
    position: relative !important;
    bottom: 0;
    right: 0;
    left: 0;
}
@media (min-width:1000px) {
    footer{
        height: 500px !important;
    }
}

section{
    color:white !important;
}

a{
    text-decoration: none !important;
}

a:hover{
    color:blue !important;
}



/* end footer */
@media (min-width:1000px) {
    .navbar-nav{
        margin-left: 100px;
    }
}